
Source/Application/MovieBrowserToolApp/obj/Debug/CoreCompileInputs.cache
*.cache
*.cache
*.lref
*.cache
*.cache
*.log
*.dll
*.pdb
*.xml
*.cache
*.cache
*.nupkg
*.cache
*.cache
*.lref
*.baml
*.cache
*.dll
